KLING_ACCESS_KEY=
KLING_SECRET_KEY=
KLING_API_BASE_URL=https://api.klingai.com
KLING_IMAGE_TO_VIDEO_SUBMIT_PATH=/v1/videos/image2video
KLING_IMAGE_TO_VIDEO_QUERY_PATH=/v1/videos/image2video/{task_id}
KLING_MODEL_NAME=kling-v1
KLING_MODE=std
KLING_DURATION=5
KLING_CFG_SCALE=0.5
KLING_POLL_INTERVAL_MS=5000
KLING_POLL_TIMEOUT_MS=600000
